/* CafeMenu.css */

.cafe-menu {
  font-family: "Arial", sans-serif;
  background-image: url(../public/images/background.png);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.menu-category {
  margin-bottom: 20px;
}

.category-title {
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 700;
  text-decoration: underline;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 18px;
  color: #333;
  cursor: pointer; /* Add cursor style to indicate clickability */
  transition: background-color 0.2s ease; /* Add a smooth background color transition */
}

.menu-item:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.menu-item.active {
  background-color: #ffcc00; /* Change background color when clicked */
}

.item-name {
  flex: 1;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.item-price {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.cart {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.cart h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 18px;
  color: #333;
  font-style: italic;
}

.cart-item:nth-child(odd) {
  background-color: #f5f5f5;
}

.cart-item span {
  flex: 1;
}

.total {
  margin-top: 20px;
  font-size: 20px;
}

.total strong {
  font-weight: bold;
}

.total span {
  font-weight: bold;
  color: #ff6600;
}

.banner {
  width: 100vw;
  height: 140px;
}

.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-count {
  margin-left: 5px;
}

.header-style {
  display: flex;
  color: #131313;
  font-size: 100px;
  align-items: center;
}